<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>About SmartCalc v4.0</title>
    <link th:href="@{/resources/static/index.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/resources/static/buttons.js}"></script>
</head>
<body>
<nav>
    <ul class="menu-main">
        <li><a href="/SmartCalc4">Home</a></li>
    </ul>
</nav>
<h1>This is SmartCalc 4.0</h1>
<br>
<br>
<h3>You can use it for calculation and plotting bracketed arithmetic expressions</h3>
<br>
<hr>
<p>2023</p>
<p>mcarb@student.21-school.ru</p>
</body>
</html>